@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* apply custom font */
@layer base {
   html {
      font-family: Poppins;
   }
}

.main-container {
   @apply container 
          lg:rounded
          lg:mx-auto 
          lg:shadow-xl
          lg:m-4  
          text-xl   
          mx-auto 
          text-gray-700
          flex
          lg:flex-row
          flex-col
          lg:rounded-b-lg
          relative
          pt-4
          pb-4;
}

.left-wrap,
.right-wrap {
   @apply flex-1
   flex
   flex-col
   p-6
   gap-4
   lg:border
   lg:rounded;
}

.left-wrap {
   @apply lg:border-r;
}

.inc-exp-wrap {
   @apply flex
   place-content-between
   gap-2;
}

.income-wrap,
.expenses-wrap {
   @apply bg-white 
         flex         
         flex-1
         flex-col
         shadow
         shadow-blue-300/50
         rounded-lg
         p-4
         place-content-between
         text-left
         gap-4
         hover:bg-slate-50
         hover:bg-gradient-to-r from-sky-50  to-white;
}

.small-txt {
   @apply text-xs 
   font-normal
   text-gray-400;
}

/* inputs */
.exp-options {
   @apply p-1
   pl-2
   border 
   text-sm
   w-full
   rounded-lg
   focus:outline-none
   focus:border-sky-500
   shadow-sm
   bg-inherit;
}

.exp-label {
   @apply block
   pt-2
          mb-1
          text-sm 
          font-medium;
}

.btn {
   @apply text-white 
   shadow-md
   bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 
   hover:bg-gradient-to-br 
   font-medium 
   rounded-lg 
   text-base
   py-2
   px-6
   /* w-full  */;
}

.income-small {
   @apply flex
   gap-1;
}

.icon {
   @apply flex
   justify-center
   items-center
   /* rounded-full */
   p-3
   /* shadow-md */
   mr-4
   border-r;
}

/* expense item color red*/
.a-1 {
   @apply ml-auto
         text-rose-400;
}

/* income item color green */
.a-2 {
   @apply ml-auto
         text-lime-400;
}

.history {
   @apply flex
   flex-col
   gap-3;
}

.h-item {
   @apply flex 
         items-center
         rounded
         /* border */
         shadow
         px-1
         py-2
         /* hover:bg-slate-50 */
         hover:bg-gradient-to-r from-white  to-sky-50
         shadow-blue-300/50;
}

/* hide class */
.hide {
   display: none;
}

.icon-del {
   @apply border-l
   m-2
   px-2
   cursor-pointer;
}

.btn-history {
   @apply text-sm
   text-blue-400
   hover:font-semibold;
}

.history-expanded,
.add-transactions {
   @apply border
   rounded
   shadow-xl
   w-2/3
   lg:w-1/2
   
   p-6
   bg-white
   absolute
   top-1/2 
   left-1/2 
   transform -translate-x-1/2 -translate-y-1/2
   z-10;
}

.add-blur {
   @apply fixed
   top-0
   left-0

   h-full
   w-full
   backdrop-blur-sm
   z-10;
}

.charts {
   @apply flex
   flex-col 
   gap-4;
}

.right-small-1 {
   @apply border
   rounded
   p-4
   shadow
   shadow-blue-200;
}

.inc-w {
   @apply flex
   justify-between
   border
   p-4
   rounded
   shadow
   shadow-blue-200;
}
.history {
   max-height: 400px; /* Set a maximum height for the container */
   /* overflow: hidden;  */
}
