@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* apply custom font */
@layer base {
   html {
      font-family: Poppins;
   }
}

.main-container {
   @apply container 
          mt-10  
          container
          rounded 
          /* border-indigo-600 */
          mx-auto 
          shadow-xl
          m-6

          /* font-sans */
          text-xl
          /* text-center */
          text-gray-700
          flex
          gap-6
          rounded-b-lg;
}

.left-wrap,
.right-wrap {
   @apply flex-1
   flex
   flex-col
   p-6
   /* border */
   gap-4;
}

.left-wrap {
   @apply border-r;
}

.inc-exp-wrap {
   @apply flex
   place-content-between
   gap-2;
}

.income-wrap,
.expenses-wrap {
   @apply bg-white 
         flex         
         flex-1
         flex-col
         shadow-md
         rounded-lg
         p-4
         place-content-between
         text-left
         gap-4
         hover:bg-slate-50;
}

.small-txt {
   @apply text-xs 
   font-normal
   text-gray-400;
}

/* inputs */
.exp-options {
   @apply p-1
   pl-2
   border 
   text-sm
   w-full
   rounded-lg
   bg-zinc-50;
}

.exp-label {
   @apply block
   pt-3
          mb-1
          text-sm 
          font-medium;
}

.btn {
   @apply text-white 
   shadow-md
   bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 
   hover:bg-gradient-to-br 
   focus:ring-4 
   focus:outline-none 
   focus:ring-blue-300 
   font-medium 
   rounded-lg 
   text-base
   py-2
   px-6
   /* w-full  */
   mt-4;
}

.income-small {
   @apply flex
   gap-1;
}

.icon {
   @apply border
   flex
   justify-center
   items-center
   rounded-full
   h-10
   w-10
   shadow-md
   mr-4;
}

/* expense item color red*/
.a-1 {
   @apply ml-auto
         text-rose-400;
}

/* income item color green */
.a-2 {
   @apply ml-auto
         text-lime-400;
}

.h-item {
   @apply flex 
         items-center;
}
